.color-now1{
    color: white !important;
    background-color: #81638b !important;    
}

.color-now2{
    color: white !important;
    background-color: #b695c0 !important;    
}

.color-now3{
    color: white !important;    
    background-color: #dac9df !important;    
}

.color-now4{
    color: white !important;    
    background-color: red !important;    
}