* {
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 10vh;
}

section{
    margin-top: 4vh;
}

section:first-of-type{
    margin-top: 0px;
}


/*CONFIG DAS CORES*/
.color-now1{
    color: white !important;
    background-color: #81638b !important;
    
}

.color-now2{
    color: white !important;
    background-color: #b695c0 !important;
    
}

.color-now3{
    color: white !important;    
    background-color: #dac9df !important;
    
}




/*CONFIGURAÇÃO DO HEADER*/
header{
    position: fixed;
    top:0;
    width: 100%;
    height: 7vh;
    max-height: 7vh;
    z-index: 999;
}

.navbar{
    background-color: #81638b;
    padding: 0;
}

.navbar a{
    color: white;
}

.navbar-brand{
    margin-left: 5vw;

}

.navbar-brand a{
    padding: 0;
    margin: 0;
}

.navbar-brand img{
    height: 7vh;
}

.navLinks{
    margin-right: 15vw;
}

/* caixa de pesquisas */

.procurar{ 
    background-color: #81638b;
    background-size: cover;
    margin: 0 auto !important;
    padding: 0 5vw !important;
    width: 100vw;
    flex-direction: column-reverse;
}

.descricao{
    background-color: white;
    opacity: 85%;
    padding: 15px;
    margin: 15px !important;
    border-radius: 15px;
}

.searchbox{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
}


.formulario{
    flex-direction: column;
   
}


/* - - - - - - SERVIÇOS  - - - - - - */

#menu {
 /* background-color: rgb(206, 186, 241); */
    margin-top: 10px;
    border-radius: 10px;
}

.card-img-top{
    padding: 15px;
}


.card{
    border-radius: 30px;
    box-shadow: rgb(161, 103, 216) 1px 1px 1px 2px;
    border-color: rgb(161, 103, 216);
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.card-body{
    padding: 20px;
    margin-top: -15px;
}

p {
    text-align: justify;
}

#botao:hover{
    background-color: rgb(199, 160, 236);
    border: none;
}


.btn-now1{
    color: white !important;
    background-color: #81638b !important;
    
}

.btn-now1.selecionado{
    color: white !important;    
    background-color: black !important;
    
}

/*CONFIGURAÇÃO DO FOOTER*/
footer {
    position: fixed;
    bottom: 0;
    background-color: #81638b;
    color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

footer h6{
    padding: 0;
    margin: 0;
    font-size: 0.8em;       
}



/*----------STYLE DO CHAT----------*/
.navbar_chat{    
    background-color: #81638b;
    padding: 0;  
    color: white;
}

.chat-content {
border: 1px solid #dcdcdc;
padding: 15px;
}

.chat-messages-border {
border: 1px solid #dcdcdc;
height: 300px; /* Tamanho fixo da área de mensagens */
padding: 15px;
}

.btn-sem-borda{
    border: none !important;
}
.small-button {
    position: -webkit-sticky; /* Para suporte a navegadores baseados no Webkit (Safari) */
    position: sticky;
    right: 0;
    bottom: 0;
    z-index: 999; 
  }

/*STYLE DO LOGIN*/

#logolog{
    background-color:#81638b;
    width: 20vh;
    border-radius: 360px;
}

#apreslogin{
    width: 100%;
    margin: 10px;
}

#login-column{
    max-width: 350px !important;
}
#login-row{
    min-height: 100vh !important;
}

#signup-column{
    max-width: 350px !important;
}

/*MEDIA QUERIES*/     
 

@media (min-width: 992px) {

    .procurar{
        flex-direction: row;
        justify-content: space-between;
        max-width: 1500px;
        padding: 15px 15px 15px 0px !important;
    }

    .searchbox{
        border-radius: 0px;
        border-top-right-radius: 360px;
        border-bottom-right-radius: 360px;
    }

}

.destaques {
    text-align: center; /* Centraliza o texto */
    font-weight: bold; /* Torna o texto em negrito */
  }

  div #carouselExampleCaptions{
    z-index: 0;
  }
